<div>
  <nav>
    <button (click)="onAddTab()">Hit me</button>
    <button (click)="onAddPanel()">Get me a panel</button>
    <button (click)="onAddGrid()">Get me a grid</button>
    <span>Tab List:</span>
    <select   [(ngModel)]="tmp">
      <option value="">-</option>
      <option *ngFor="let t of tabList" [value]="t.getId()">{{t.getTitle()}}</option>
    </select>
    <button (click)="onDeleteTab()">Delete this tab</button>
  </nav>
</div>
<p>{{tmp}}</p>
<p *ngIf="selectedTab">
  {{selectedTab | json}}
</p>
<p>
    {{tabList | json}}
</p>
